@using Microsoft.AspNetCore.Components.Routing
@using StoreClient.Light.Services
@inject KeepAliveService KeepAlive

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <p>Lo siento, no hay nada en esta dirección.</p>
    </NotFound>
</Router>

@code {
    protected override void OnInitialized()
    {
        KeepAlive.Start();
    }
}